[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
mypy = "*"
requests = "*"
seaborn = "*"
ipykernel = "*"
ipywidgets = "*"
sphinx = "*"
recommonmark = "*"
sphinx-rtd-theme = "*"
sphinx-pyreverse = "*"
mysql-connector-python = "*"
pylint-flask = "*"

[packages]
Sphinx = "*"
numpy = "*"
pandas = "*"
flask-restful = "==0.3.8"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask = "==1.1.2"
mysql-connector-python = "*"
bcrypt = "*"
flask-jwt-extended = "==3.25.0"
pymysql = "*"
wheel = "*"
flask-mail = "*"
werkzeug = "*"
flask-limiter = "*"
flask-cors = "*"